@import './var';
@import './com';

* {
    box-sizing:border-box;
}
body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
    font-family: "hiragino sans gb", arial;
}
p {
    margin: 0;
}
ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
a {
	text-decoration: none;
}